.error {
  color: red;
}

.logoffBtn {
  background: none;
  border: none;
  cursor: pointer;

  span,
  svg {
    vertical-align: middle;
  }

  span {
    font-size: 14px;
    margin: 0 4px;
  }

  &:hover {
    font-weight: bold;
  }
}
