.header {
  h1 {
    text-align: center;
    border-bottom: 1px solid gray;
    padding-bottom: 12px;
  }

  .spaceBetween {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
