.header {
  h1 {
    text-align: center;
    text-decoration: underline;
  }

  .navigationGroup {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid gray;
  }
}
